.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  height: 83px;
  border-bottom: 1px solid var(--input-border);
}

.navbar span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--xwhite);
}

.navbar button:hover {
  background-color: #a7ee43ce;
}
