@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(120deg, #111f30 0%, #0d1624 35%, #131720 65%, #0a0e12 100%);
  color: #e5e7eb;
}

:root {
  --xwhite: #d7dfe4;
  --xgreen: #a7ee43;
  --xblack: #010304;
  --xgray: #1f2937;
  --input-background: #1d262f;
  --input-border: #41464d;
}

button {
  cursor: pointer;
}

input,
textarea {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--xwhite);
  border-radius: 0.4rem;
  padding: 2px 5px;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 10px var(--xgreen), 0 0 1.5px var(--xgreen);
  transition: box-shadow 0.25s;
}

select {
  background-color: var(--xgray);
  color: var(--xwhite);
}

.rdt_TableHeadRow {
  border-bottom: 2px solid #232936 !important;
}
.rdt_TableCol {
  border-bottom: none !important;
}

.rdt_TableHeadRow {
  background-color: #171c23 !important;
  border: none;
}
